<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eap.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>CB4A124CBE8FF02FA797F4D6FAB54DE433690C35</string>
				<key>dateExpires</key>
				<string>19/12/18</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CB4A124CBE8FF02FA797F4D6FAB54DE433690C35</string>
						<key>dateExpires</key>
						<string>19/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GaugeKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>62PYG5KRDL</string>
						<key>name</key>
						<string>PT. Mitrais</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CB4A124CBE8FF02FA797F4D6FAB54DE433690C35</string>
						<key>dateExpires</key>
						<string>19/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>62PYG5KRDL</string>
						<key>name</key>
						<string>PT. Mitrais</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CB4A124CBE8FF02FA797F4D6FAB54DE433690C35</string>
						<key>dateExpires</key>
						<string>19/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>62PYG5KRDL</string>
						<key>name</key>
						<string>PT. Mitrais</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CB4A124CBE8FF02FA797F4D6FAB54DE433690C35</string>
						<key>dateExpires</key>
						<string>19/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TwilioChatClient.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>62PYG5KRDL</string>
						<key>name</key>
						<string>PT. Mitrais</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CB4A124CBE8FF02FA797F4D6FAB54DE433690C35</string>
						<key>dateExpires</key>
						<string>19/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TwilioVideo.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>62PYG5KRDL</string>
						<key>name</key>
						<string>PT. Mitrais</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CB4A124CBE8FF02FA797F4D6FAB54DE433690C35</string>
						<key>dateExpires</key>
						<string>19/12/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>62PYG5KRDL</string>
						<key>name</key>
						<string>PT. Mitrais</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>62PYG5KRDL.com.mitrais.eap</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>62PYG5KRDL</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>eap.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ef0f93a1-b40c-4ce2-9cec-71f89c56bda7</string>
				<key>name</key>
				<string>EAP IOS Distribution Profile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>62PYG5KRDL</string>
				<key>name</key>
				<string>PT. Mitrais</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
